/* Navbar */
.navbar {
    background-color: white;
    padding: 20px 0;
}

.navbar-brand img {
    max-height: 30px;
}

.navbar-nav .nav-link {
    color: #333;
    margin-right: 15px;
}

.navbar-nav .btn-outline-primary {
    color: #6a0dad;
    border-color: #6a0dad;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 50px 0;
}

.hero-text {
    flex: 1;
    padding: 15px;
}

.hero-text p {
    color: #333;
    font-size: 1.2em;
}

.hero-text h1 {
    font-size: 2.5em;
    color: #333;
}

.hero-text .highlight {
    color: #6a0dad;
}

.hero-text a.btn-primary {
    background-color: #6a0dad;
    border-color: #6a0dad;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 80%;
    border-radius: 15px;
}

/* Responsive adjustments for hero */
@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2em;
    }
}

/* Expertise Section */
.expertise p {
    font-size: 1em;
    color: #6c757d;
}

.expertise h2 {
    font-size: 2em;
    color: #333;
}

.expertise .card {
    border: none;
    background-color: #f8f9fa;
    transition: transform 0.3s;
}

.expertise .card:hover {
    transform: translateY(-5px);
}

.expertise .card img {
    width: 40px; /* Adjust as needed */
}

.expertise .card-title {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
}

.expertise .card-text {
    font-size: 0.9em;
    color: #6c757d;
}
